h1 {
    color: #DB1A18;
    font-size: 5em;
}

body {
  text-align: center;
  background: #191A19;
}

p {
  font-size: 1.3em;
  text-align: left;
  color: #fff;
}
* {
  font-family: 'Abel', sans-serif;
}

#StrayKids {
  margin: 0;
  padding: 0;
}

#from {
  padding-left: 30px;
}
