h1 {
    color: #DB1A18;
    font-size: 5em;
}

body {
  text-align: center;
  background: linear-gradient(#fff, #750419, #080419, #000);
}

p {
  font-size: 1.3em;
  text-align: left;
  color: #fff;
}
